:root {
    --background-color: #fee2e2; 
    --cell-color: #fca5a5;
    --text-color: #7f1d1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color)
}

body {
    background-color: var(--background-color);
    padding-top: 10rem;
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-grid{
    display: grid;
    width: 400px;
    height: 400px;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: var(--cell-color);
}

.cell:hover{
    cursor: pointer;
}

#result-msg {
    padding: 10px;
}

#reset-btn {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    background-color: var(--cell-color);
}

#reset-btn:hover {
    cursor: pointer;
    color: var(--background-color);
}